<div class="logoNavBar">
  <a href="https://github.com/amiroudiallo-dev/"
    ><img class="logolinks" src="images/github.png" alt="Github"
  /></a>
  <a
    href="https://drive.google.com/file/d/1Jskyot43sEWZlvGTSQ1OtR-j-gKsJKhH/view?usp=sharing"
    ><img class="logolinks" src="images/resume-and-cv.png" alt="Resume"
  /></a>
  <a href="https://www.linkedin.com/in/amiroudiallo-yw"
    ><img class="logolinks" src="images/linkedin.png" alt="LinkedIn"
  /></a>
  <a href="https://medium.com/@amiroudiallo.yw">
    <img class="logolinks" src="board/images/medium.png" alt="Medium"
  /></a>
  <a href="https://x.com/DWendpuire/"
    ><img class="logolinks" src="images/twitter.png" alt="Twitter"
  /></a>
  <a href="https://api.whatsapp.com/send?phone=0022663031051"
    ><img class="logolinks" src="images/qr-code.jpeg" alt="WhatsApp"
  /></a>
</div>
